.loading-icon:after {
	animation: spin .5s infinite linear;
	border-width: .25rem;
	border-right-color: transparent !important;
	border-top-color: transparent !important;
	border-radius: 9999px;
	position: absolute;
	top: calc(50% - 1.5em);
	left: calc(50% - 1.5em);
	width: 3em;
	height: 3em;
	content: "";
	display: block;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}